.button:hover,
.button.hover {
  border-color: #2980b9;
}


.modal1 {
  font-size: 12px;
  outline: auto;
}
.modal1 > .header {
  width: auto;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
  color: white;
  background: #003580;
}
.modal1 > .content {
  width: auto;
  padding: 10px;
  display: flex;
}
.modal1 > .actions {
  margin: auto;
}
.modal1 > .actions {
  width: auto;
  padding: 10px 5px;
  text-align: center;
}
.modal1 > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

.example-warper-start {
  width: 100%;
  padding: 20px 5%;
  display: flex;
  flex-wrap: wrap;
  border: 1px #cfcece dashed;
}

.orderInfo {
  width: 60%;
  padding: 30px;
}

.orderSummary {
  width: 40%;
  padding: 30px;
}

.bannerPicSmol {
  width: 100%;
  max-height: 80%;
  object-fit: cover;
}
